<header>
    <nav class="navbar bg-danger">
        <div class="container navbar-wrap">
          <a class="navbar-logo" href="javascript:void(0);">
            <img src="../assets/images/logo-new_工作區域 1@2x.png" alt="logo">
          </a>
          <ul class="navbar-nav">
            <li class="navbar-item">
                <a class="navbar-link" href="javascript:void(0);">系列鏡框</a>
            </li>
            <li class="navbar-item">
                <a class="navbar-link" href="javascript:void(0);">門市據點</a>
            </li>
            <li class="navbar-item">
                <a class="navbar-link" href="javascript:void(0);">部落格</a>
            </li>
            <li class="navbar-item">
                <a class="navbar-link" href="javascript:void(0);">常見問題</a>
            </li>
          </ul>
        </div>
      </nav>
</header>