<header>
    <div class="container">
        <div class="logo">
            <img src="../assets/images/logo-new_工作區域 1@2x.png" alt="logo" srcset="">
        </div>
        <ul class="menus">
            <il class="menu">
                <a href="javascript:void(0);">系列鏡框</a>
            </il>
            <il class="menu">
                <a href="javascript:void(0);">門市據點</a>
            </il>
            <il class="menu">
                <a href="javascript:void(0);">部落格</a>
            </il>
            <il class="menu">
                <a href="javascript:void(0);">常見問題</a>
            </il>
        </ul>
    </div>
</header>