footer{
  background: #aa0601;
  color: #fff;
  // padding-bottom: 40px;

  padding: 48px 39px 30px 39px;

  .container .footer-navber{
    justify-content: space-between;
    align-items: center;

    .footer-navber-list {
      margin-bottom: 36px;

      li{
        font-weight: bold;
        margin-right: 48px;
      }
    }

    .footer-navber-logo {
      margin-bottom: 36px;

      li{
        margin-right: 32px;
      }

      li:nth-of-type(3){
        margin-right: 0;
      }
    }
  }

  .container .footer-cotent{
    border-bottom: 1px solid #fff;
    margin-bottom: 24px;
    font-size: 36px;

    li {
      margin-bottom: 20px;

      a{
        display: flex;
        align-items: center;
        text-decoration: none;
      }

      img{
        margin-right: 17px;
      }
    }

    .footer-logo-list{
      display: none;
    }
  }

  .container .footer-footer{
    justify-content: space-between;

    .footer-new{
      align-items: center;

      li{
        margin-right: 38px;
        font-size: 16px;
      }

      li:nth-of-type(2), li:nth-of-type(3){
        display: none;
      }
    }

    .footer-service{
      align-items: center;

      li{
        font-size: 14px;
      }

      li:nth-of-type(1){
        margin-right: 62px;
      }
    }
  }
}



/* 共同元素 */
// .container{
//   max-width: 1110px;
//   margin: 0 auto;
// }
.d-flex{
  display: flex;
}
// .bg-primary{
//   background:#AA0601;
// }

.text-light{
  color:#fff;
}

/* ------------------------------- */

/* 解析度992以下 */
@media(max-width:992px){

  footer{

    .container .footer-navber {
      .footer-navber-logo li img {
        width: 24px;
        height: 24px;
      }
    }

    .container .footer-cotent {
      font-size: 20px;

      li img{
          width: 24px;
          height: 24px;
      }

      .footer-logo-list{
          display: none;
      }
    }

    .container .footer-footer {
      // .footer-new li:nth-of-type(1) {
      //     display: none;
      // }
    }
    
  }

}

/* 解析度767以下 */
@media(max-width:767px){

  footer {
    .container .footer-navber{
        display: none;
    }

    .container .footer-cotent{
        display: flex;
        justify-content: space-between;
        font-size: 16px;

        .footer-logo-list {
            display: block;
            display: flex;
        }
    }

    .container .footer-footer {
      .footer-new {
          flex-direction: column;
          align-items: start;

          li{
              font-size: 14px;
              margin-bottom: 8px;
          }

          li:nth-of-type(2), li:nth-of-type(3){
              display: block;
          }
      }

      .footer-service{
          display: none;
      }
    }
  }

}
